__pycache__/
*.pyc
.env
node_modules/
dist/
build/
.DS_Store
*.sqlite3
*.db
*.log
*.pid
*.coverage
htmlcov/
.pytest_cache/
coverage.xml
/.venv/
venv/
env/
*.egg-info/
package-lock.json
yarn-error.log
npm-debug.log
/.idea/
/.vscode/
frontend/.cache/
*.pyd
*.so
*.dll
*.tar.gz
*.whl
